.card {
 @apply w-[200px] py-[30px] px-5 border-solid border-[1px] m-auto relative;
 box-shadow: 0 20px 30px rgba(0,0,0,.15);
}

.card__inner {
 @apply w-full h-full transition delay-1000;
 transition: transform 1s;
 transform-style: preserve-3d;
 cursor: pointer;
 position: relative;
}

.card__face {
 @apply w-full h-full absolute;
 backface-visibility: hidden;
}

.card__inner.is--flipped {
 transform: rotateY(1080deg);
}

.card .character-image {
 @apply rounded-full w-24 mx-auto my-5 block relative
}

.hp {
 @apply w-20 bg-white py-2 px-0 rounded-[30px] ml-auto text-center font-normal
}

.character-name {
 @apply text-center font-semibold
}

.types {
 @apply flex justify-around mt-[20px] mb-[40px] mx-0 items-center
}

.hp span,
.types span {
 @apply text-sm tracking-wider font-semibold
}

.stats {
 @apply flex items-center justify-between text-center
}

.stats h3 {
 @apply font-semibold
}

.stats p {
 @apply text-[#404060]
}